<!-- src/app/shop/components/product-detail.component.html -->
<div class="p-4" *ngIf="product; else loadingTpl">
    <div class="flex flex-col md:flex-row md:space-x-8">
      <img [src]="product.imageUrl" alt="{{product.name}}" class="w-full md:w-1/2 max-w-md object-cover rounded">
      <div class="mt-4 md:mt-0 md:w-1/2">
        <h2 class="text-3xl font-bold mb-2">{{ product.name }}</h2>
        <p class="text-gray-700 mb-4">{{ product.description }}</p>
        <p class="text-xl font-semibold mb-4">Price: {{ product.price | currency }}</p>
        <div class="mb-4">
          Quantity: 
          <input type="number" [(ngModel)]="quantity" min="1" class="w-16 text-center border rounded" />
        </div>
        <button mat-raised-button color="primary" (click)="addToCart()">Add to Cart</button>
      </div>
    </div>
    <hr class="my-8">
<app-reviews *ngIf="product" [productId]="product.id"></app-reviews>

  </div>
  <ng-template #loadingTpl>
    <div class="text-center py-10">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </ng-template>
  